<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="emailForm">
        <input type="text" id="name" placeholder="Enter your name">
        <br><br>
        <input type="text" id="phone" placeholder="Enter your phone number">
        <br><br>
        <input type="email" id="email" placeholder="Enter your email">
        <br><br>
        <button type='submit' id="btn">Send Verification Code</button>
        <br><br>
        
    </form>
    <input type="text" id="code" placeholder="Enter verification code">
    <br><br>
    <button id="verbtn">Verify Code</button>
    <br><br>
    <div id="message"></div>
    <script src="abc.js"></script>
</body>
</html>