<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="abc.css">
</head>
<body>
    <form id="emailForm">
        <input type="text" id="name" placeholder="Enter Username">
        <br><br>
        <input type="text" id="password" placeholder="Enter your password">
        <br><br>
        <input type="email" id="email" placeholder="Enter your email">
        <br><br>
        <button id="verbtn">Login</button>
    <br><br>
    </form>
    
    <div id="message"></div>
    <script src="abc.js"></script>
</body>
</html>