<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h1 id="head">Admin login</h1>
    
    <div id="warn">

    </div>
    <br>
    <form id="emailForm">
        <input type="email" id="email" placeholder="Enter your email" required>
        <br><br>
        <input type="password" id="password" placeholder="Enter your password" required>
        <br><br>
     
        <button id="verbtn">Login</button>
    <br><br>
   </form>
    
    <div id="message"></div>
    <script>
let verbtn = document.getElementById('verbtn');
let emailInput = document.getElementById('email');
let passwordInput = document.getElementById('password');

verbtn.addEventListener('click', async (e) => {
    e.preventDefault();
    let email = emailInput.value.trim();
    let password = passwordInput.value.trim();

    const response = await fetch('/vault', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, password })
    });
    const data = await response.json();
    if(data.success === true){
        window.location.href = '/secvault';
    }
    if(data.success===false){
   message.innerText = data.message;
    }
          
    
});
    </script>
</body>
</html>