<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="forgot.css">
</head>
<body>
    <h1 id="head">Reset Password</h1>
    <div id="warn"></div>
    <br>
    <form id="form">
        <input type="email" name="email" id="email" autocomplete="email" placeholder="Enter your email">
        <br><br>
        <button type="submit" id="sendcode">Send Verification Code</button>
        <br><br>
        <input id="code" type="text" placeholder="Enter verification code" >
        <br><br>
         <button type="button" id="verbtn">Verify Code</button>
        <br><br>
        <input type="password" name="newPassword" id="newPassword" autocomplete="new-password" placeholder="New Password">
        <br><br> 
        <input type="password" name="confirmPass" id="confirmPass" autocomplete="new-password" placeholder="Confirm New Password">
       <br><br> 
        <button type="submit" id="resetbtn">Reset Password</button>
        <br><br>
        <div id="message"></div>
    </form> 

    <script src="forgot.js"></script>
    
</body>
</html>