<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Hello, World!</title>
  <link rel="stylesheet" href="timer.css">
</head>
<body>
 <p id="intro"> Welcome to the Test</p>
  <a href="/verify"><button><img src="editbut.jpg">Login</button>
  </a>
  <a href="/index"><button id="edit"><img src="editbut.jpg">Hello</button>
  </a>
    <ul>
      <li>You have 2 minutes for all questions</li>
      <li>All questions are MCQ and have 1 correct answer</li>
      <li>Attempt all and Good luck</li>
    </ul>
  
  <p id="your">Do you want to load your questions </p>
  <button id="load">Yes</button>
  
  <h1 id="timer">
    <div id="flexb">
    <div id="hour">00</div>
    <div id="min">02</div>
    <div id="sec">00</div>
    </div>
  </h1>
  <button id="start" type="button">start</button>
   
  
  <div id="hide">
    <p id="qu1">Q1 Which is the largest State in India by area</p>
    
   
    <label>
    <input type="radio" class="dis" value="up" name="one">Uttar pradesh
    </label> 
<label>
    <input type="radio" class="dis" value="mah" name="one">Maharashtra
    </label> 
    
 <label>
    <input type="radio" class="dis" value="raj" name="one">Rajasthan
    </label> 
    
     <label>
    <input type="radio" class="dis" name="mp" name="one">Madhya pradesh
    </label> 
    <br><br>
    
    
    
    <p id="qu2">Q2 What is the largest State in India by population</p>
    
    <label>
    <input type="radio" class="dis" value="up" name="two">Uttar Pradesh
    </label> 
<label>
    <input type="radio" class="dis" value="bih"name="two">Bihar
    </label>
    
 <label>
    <input type="radio" class="dis" value="mah" name="two">Maharashtra
    </label> 
    
     <label>
    <input type="radio" class="dis" value="west" name="two">West bengal
    </label> 
        <br><br>
    
    
    
    
    <p id="qu3">Q3 Tropic of Cancer passes through how many states of india </p>
    
    <label>
    <input type="radio" class="dis" value="5" name="three">5
    </label> 
<label>
    <input type="radio" class="dis" value="6" name="three">6
    </label> 
    
 <label>
    <input type="radio" class="dis" value="7" name="three">7
    </label> 
    
     <label>
    <input type="radio" class="dis" value="8" name="three">8
    </label> 
        <br><br>
    
    
    
     
    <p id="qu4">Q4 India is in which continent</p>
    
    <label>
    <input type="radio" class="dis" value="europe" name="four">Europe
    </label> 
<label>
    <input type="radio" class="dis" value="north" name="four">North america
    </label> 
    
 <label>
    <input type="radio" class="dis" value="asia" name="four">Asia
    </label> 
    
     <label>
    <input type="radio" class="dis" value="ocean" name="four">Oceanic
    </label> 
        <br><br>
    
    
    
    <p id="qu5">Q5 India Land border is conmected to how many countries</p>
    
    <label>
    <input type="radio" class="dis" value="6" name="five">6
    </label> 
<label>
    <input type="radio" class="dis" value="7" name="five">7
    </label> 
    
 <label>
    <input type="radio" class="dis" value="8" name="five">8
    </label> 
    
     <label>
    <input type="radio" class="dis" value="9" name="five">9
    </label> 
        <br><br>
    
    
    
    
    <p id="qu6">Q6 India total border ( land + sea) is conmected to how many countries </p>
    
    <label>
    <input type="radio" class="dis" value="11" name="six">11
    </label> 
<label>
    <input type="radio" class="dis" value="12" name="six">12
    </label> 
    
 <label>
    <input type="radio" class="dis" value="13" name="six">13
    </label> 
    
     <label>
    <input type="radio" class="dis" value="14" name="six">14
    </label> 
        <br><br>
    
    
    
    
    <p id="qu7">Q7 Financial capital of India</p>
    
    <label>
    <input type="radio" class="dis" value="delhi"name="seven">Delhi
    </label> 
<label>
    <input type="radio" class="dis" value="mumbai" name="seven">Mumbai
    </label> 
    
 <label>
    <input type="radio" class="dis" value="kolkata" name="seven">Kolkata
    </label> 
    
     <label>
    <input type="radio"bclass="dis" value="chennai" name="seven">Chennai
    </label> 
        <br><br>
    
    
    
    
<p id="qu8">Q8 India is connected to how many oceans</p>
    
    <label>
    <input type="radio" class="dis" value="1" name="eight">1
    </label> 
<label>
    <input type="radio" class="dis" value="2" name="eight">2
    </label> 
    
 <label>
    <input type="radio" class="dis" value="3"name="eight">3
    </label> 
    
     <label>
    <input type="radio" class="dis" value="4" name="eight">4
    </label> 
        <br><br>
    
    
    
    
<p id="qu9">Q9 India constituion came in force in which year</p>
    
    <label>
    <input type="radio" class="dis" value="1947"name="nine">1947
    </label> 
<label>
    <input type="radio" class="dis" value="1948" name="nine">1948
    </label> 
    
 <label>
    <input type="radio" class="dis" value="1949" name="nine">1949
    </label> 
    
     <label>
    <input type="radio" class="dis" value="1950"name="nine">1950
    </label> 
        <br><br>
    
    
    
    
    <p id="qu10">Q10 In which year RBI become central bank of India</p>
    
    <label >
    <input type="radio" class="dis" value="1947" name="ten">1947
    </label> 
<label >
    <input type="radio" class="dis" value="1948" name="ten">1948
    </label> 
    
 <label >
    <input type="radio" class="dis" value="1949" name="ten">1949
    </label> 
    
     <label > 
    <input type="radio" class="dis" value="1950" name="ten">1950
    </label> 
        <br><br>
    
     <button id="submit" type="button">Submit</button>
    
     
  </div><br>
  
     <button id="res" type="button">Show result</button>
<br>
  <button id="replay" type="button">Play again</button>
<br>
   <div id="ans"></div>
  
  
  <script src="timer.js"></script>
</body>
</html>
