<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h1 id="head">Login</h1>
    
    <div id="warn">

    </div>
    <br>
    <form id="emailForm">
        <input type="email" id="email" placeholder="Enter your email" required>
        <br><br>
        <input type="password" id="password" placeholder="Enter your password" required>
        <br><br>
     
        <button id="verbtn">Login</button>
    <br><br>
    <div id="forgot"><a href="/forgot">Forgot Password?</a></div>
    <br>
    <div id="error">Don't have an account? <a href="/signup">Signup here</a></div>
    </form>
    
    <div id="message"></div>
    <script src="/login.js"></script>
</body>
</html>