<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Hello, World!</title>
  <link rel="stylesheet" href="settest.css">
</head>
<body>
  <h1>
    Create your own Quiz!
  </h1>
  <div id="message"></div>
  <br>
  <form id="form">
  <label>
    <input type="text" id="Q1" placeholder="Enter question" class="question" name="q1">
  </label>
  <label>
    <input type="text" id="A1" placeholder="Enter option" class="question" name="q2">
  </label>
  <label>
    <input type="text" id="A2" placeholder="Enter option" class="question" name="q3">
  </label>
  <label>
    <input type="text" id="A3" placeholder="Enter option" class="question" name="q4">
  </label>
  <label>
    <input type="text" id="A4" placeholder="Enter option" class="question" name="q5">
  </label>
  <br>
<label for="correctans">Select Right Option:</label>
<select id="correctans" name="correct_answer">
  <option value="A">A</option>
  <option value="B">B</option>
  <option value="C">C</option>
  <option value="D">D</option>
</select>
  <br>
   <button id="but">Submit question</button>
 <br>
  <button id="submit">Submit Test</button>

  </form>
  
 
<script src="settest.js"></script>  


</body>
</html>
