<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Hello, World!</title>
</head>
<body>
  <h1>
    Hello, World!
  </h1>
  <form action="/index" method="post">
  <label>
    <input type="text" id="Q1" placeholder="Enter question" class="question" name="q1">
  </label>
  <label>
    <input type="text" id="A1" placeholder="Enter option" class="question" name="q2">
  </label>
  <label>
    <input type="text" id="A2" placeholder="Enter option" class="question" name="q3">
  </label>
  <label>
    <input type="text" id="A3" placeholder="Enter option" class="question" name="q4">
  </label>
  <label>
    <input type="text" id="A4" placeholder="Enter option" class="question" name="q5">
  </label>
  <br>

   <button type="submit" id="but">Submit question</button>

  </form>

  
  <br>
  <button id="but3">Done</button>
  

</body>
</html>
