<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <h1 id="head">Register</h1>
    <br><br>
    <form id="form">

<input type="text" name="name1" id="name1" autocomplete="name" placeholder="Enter your name">
<br><br>
<input type="tel" name="phone" id="phone" autocomplete="tel" placeholder="Phone Number">
<br><br>
<input type="email" name="email" id="email" autocomplete="email" placeholder="Email Address">
<br><br>
<input type="password" name="password" id="password" autocomplete="new-password" placeholder="Password">
<br><br>
<input type="password" name="confirmpass" id="confirmpass" autocomplete="new-password" placeholder="Confirm Password">
       <br><br> 
        <button type="submit" id="sendcode">Send Verification Code</button>
        <br><br>
        <input id="code" type="text" placeholder="Enter verification code" required>
        <br><br>
         <button type="button" id="verbtn">Verify Code</button>
        <br><br>
        <button type="submit" id="signupbtn">Signup</button>
        <br><br>
        <div id="message"></div>
    </form> 

    <script src="signup.js"></script>
</body>
</html>